<a href="https://colab.research.google.com/github/angomezh1/DS4A/blob/master/Fundamentos_de_Python_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Python

## Python Notebooks
Los notebooks de Python proveen un ambiente interactivo para experimentaci贸n de c贸digo, visualizaci贸n y publicaci贸n de resultados.

Las casillas de color gris claro que se encuentran a continuaci贸n se denominan celdas y estas pueden contener c贸digo (code) o texto formateado (Markdown).

* [Flechas arriba / abajo] Mover arriba y abajo de celda a celda.
* [Enter] Ingresa una celda para editarla.
* [Shift + Enter] Eval煤a una celda, muestra el resultado y pasa a la siguiente celda.
* [Ctrl + Enter] Eval煤a una celda, muestra el resultado y permanece en la celda.
* [Alt + Enter] Eval煤a una celda, muestra el resultado e inserta una celda abajo.
* [Esc] - [D] - [D] Eliminar una celda.
* [Esc] - [Z] Deshacer eliminar una celda.
* [Esc] - [B] Insertar una celda debajo de la celda actual.
* [Esc] - [A] Insertar una celda sobre la celda actual.
* [Esc] - [M] Convierte la celda de c贸digo en markdown.
* [Esc] - [Y] Convierte la celda de Markdown a c贸digo.

Para m谩s atajos de teclado vaya al men煤 Ayuda -> Atajos de teclado

## Variables en Python

**Variable**: Es donde se guarda determinada informaci贸n (texto, n煤meros, booleanas, etc.)

Cada variable tiene un nombre para referirse a ella, Python tiene en cuenta si escribimos en may煤sculas o min煤sculas la variable (case sensitive).

Para definir variables en Python se realiza de la siguiente manera:

```python
# Asignando un valor
variable = valor
# Asignando varios valores
variable1, variable2 = valor1, valor2
```

Python al asignar la variable define cual es el tipo de datos m谩s apropiado.  

### N煤meros

En n煤meros hay dos tipos principales, los n煤meros enteros (int) y los reales (float).  El separador decimal es el punto.

```python
entero = 2
real = 2.5
```

### Texto

Las variables que almacenan texto se denominan strings (str).  Se deben de poner entre commillas sencillas o dobles, si el texto es multilinea con triple comilla.

```python
cadena = "Hola"
cadena = 'Hola'
multilinea = """ Hola
                Mundo """
multilinea = ''' Hola
                Mundo '''             
```

### Listas

Son conjuntos ordenados de elementos (n煤meros, texto, listas, etc). Se delimitan por corchetes (`[]`) y los elementos se separan por comas. Las listas son dinamicas, es decir que son mutables.

```python
listaNumeros = [1,2,3]
listaCadenas = ['a','b','c']
listaListas = [[1,2],[3,4],[5,6]]
listaMixtas = [1,'Grupo',[1,2,3,4]]
listaVacia = []
```

### Tuplas

Es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre par茅ntesis (`()`) y separados por comas. Las tuplas son estaticas, son inmutables, una vez creada no puede ser modificada.

```python
tuplaNumeros = (1,2,3)
tuplaCadenas = ('a','b','c')
tuplaListas = ([1,2],[3,4],[5,6])
tuplaMixtas = (1,'Grupo',[1,2,3,4])
```

### Diccionarios

Permite almacenar cualquier tipo de valor como enteros, cadenas, listas, etc.  Los diccionarios permiten adem谩s identificar cada elemento por una clave (key)

```python
dictNumeros = {'k1':1,'k2':2}
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
```

### Booleano

Una variable booleana es una variable que s贸lo puede tomar dos posibles valores: Verdadero (True) o Falso (False).

```python
verdadero = True
falso = False
```

### None

Es el tipo de dato que en otros lenguajes se conoce como Nulo (NAN).  En Python es NoneType.

```python
nulo = None
```

### Imprimir variables

El comando `print(variable)` imprime el valor de la variable.


### Comentarios

Los comentarios en linea se define con `#`

In [0]:
# Declarando un entero (int)
x = 2
print("Es un entero: ", x)

Es un entero:  2

In [0]:
x

2

In [0]:
# Declarando un real (float)
y = 2.5
print("Es un real: ", y)

Es un real:  2.5

In [0]:
# Declarando un texto
mensaje = "Hola Mundo"
print(mensaje, " Grupo")
mensaje = 'Hola Mundo'
print(mensaje, " Grupo")

Hola Mundo  Grupo
Hola Mundo  Grupo

In [0]:
# Multilinea
multilinea = """Hola 
                Mundo"""
print(multilinea, " Grupo")
multilinea = '''Hola 
                Mundo'''
print(multilinea, " Grupo")

Hola
                Mundo  Grupo
Hola
                Mundo  Grupo

In [0]:
multilinea

'Hola \n                Mundo'

In [0]:
# Declarando una lista
listaNumeros = [1,2,3]
print(listaNumeros)
listaCadenas = ['a','b','c']
print(listaCadenas)
listaListas = [[1,2],[3,4],[5,6]]
print(listaListas)
listaMixtas = [1,'Grupo',[1,2,3,4]]
print(listaMixtas)
listaVacia = []
print(listaVacia)

[1, 2, 3]
['a', 'b', 'c']
[[1, 2], [3, 4], [5, 6]]
[1, 'Grupo', [1, 2, 3, 4]]
[]

In [0]:
# Declarando una Tupla
tuplaNumeros = (1,2,3)
print(tuplaNumeros)
tuplaCadenas = ('a','b','c')
print(tuplaCadenas)
tuplaListas = ([1,2],[3,4],[5,6])
print(tuplaListas)
tuplaMixtas = (1,'Grupo',[1,2,3,4])
print(tuplaMixtas)

(1, 2, 3)
('a', 'b', 'c')
([1, 2], [3, 4], [5, 6])
(1, 'Grupo', [1, 2, 3, 4])

In [0]:
# Declarando Diccionarios
dictNumeros = {'k1':1,'k2':2}
print(dictNumeros)
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
print(dictCadenas)
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
print(dictListas)
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
print(dictMixto)

{'k1': 1, 'k2': 2}
{'k1': 'a', 'k2': 'b', 'k3': 'c'}
{'k1': [1, 2], 'k2': [3, 4], 'k3': [5, 6]}
{'k1': 1, 'k2': 'Grupo', 'k3': [1, 2, 3, 4]}

In [0]:
# Declarando Booleanos
verdadero = True
falso = False

In [0]:
# Declarando Nulos
nulo = None

In [0]:
# Asignaciones M煤ltiples
var1, var2, var3 =  ( 5 + 4),  "Sara", [13, 17, 23]
print( "var1 =", var1 )
print( "var2 =", var2 )
print( "var3 =", var3 )

var1 = 9
var2 = Sara
var3 = [13, 17, 23]

In [0]:
# Cambiar valores entre variables
var1, var2 = var2, var1 

print( "var1 =", var1 )
print( "var2 =", var2 )

var1 = Sara
var2 = 9

In [0]:
# Crear una tupla con variables
tupla = var1, var2, var3
print(tupla)

('Sara', 9, [13, 17, 23])

In [0]:
# Asignar valores de una tupla a variables
x1, x2, x3 = tupla 

print( "  x1 =", x1, "   x2 =", x2, "   x3 =", x3 )

  x1 = Sara    x2 = 9    x3 = [13, 17, 23]

##Tipo de Datos

Para conocer el tipo de dato de una variable se usa el metodo `type`

```python
type(x)
````

In [0]:
print(x)
type(x)

2

int

In [0]:
print(y)
type(y)

2.5

float

In [0]:
type(mensaje)

str

In [0]:
type(listaNumeros)

In [0]:
type(tuplaListas)

In [0]:
type(dictCadenas)

In [0]:
type(verdadero)

In [0]:
type(nulo)

## Operadores Aritm茅ticos

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

Python dependiendo del tipo de dato realiza las operaciones.

In [0]:
# Adici贸n y sustracci贸n
print(5 + 5)
print(5 - 5)

10
0

In [0]:
# Multiplicaci贸n y divisi贸n
print(3 * 5)
print(10 / 2)

15
5.0

In [0]:
# Exponenciaci贸n y Modulo
print(4 ** 2)
print(18 % 7)

16
4

In [0]:
# Operaciones con cadenas
mensaje1 = "Hola "
mensaje2 = "Grupo"
print(mensaje1 + mensaje2)

Hola Grupo

In [0]:
# Operaciones con cadenas
mensaje1 = "Hola "
print(mensaje1*2)

Hola Hola

In [0]:
print(verdadero + falso)

1

In [0]:
print(1 + 2.5)

3.5

## Operadores Relacionales

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
| in  | test pertenence to a collection (list, set, dictionary) |

In [0]:
x == 2

True

In [0]:
x != 2

False

In [0]:
x > 1

True

In [0]:
listaNumeros

[1, 2, 3]

In [0]:
listaNumeros == [1,2,3]

True

In [0]:
listaNumeros is [1,2,3]

False

In [0]:
objecto = listaNumeros

In [0]:
listaNumeros is objecto

True

In [0]:
nulo is None

True

## Conversiones entre tipos

Python cuenta con la conversi贸n de tipos de datos (*cast* o *casting*) que especifica explicitamente el tipo de dato.

```python
int(variable)
float(variable)
str(variable)
bool(variable)
list(variable)
tuple(variable)
dict(variable)
```

In [0]:
# Convertir Lista a tupla
print(listaCadenas)
print(type(listaCadenas))
print(tuple(listaCadenas))
print(type(tuple(listaCadenas)))

In [0]:
# Convertir de cadena a entero
print('123')
print(type('123'))
print(int('123'))
print(type(int('123')))

In [0]:
float("Juan")

## Funciones Integradas (Built-in Functions)

**Funciones:** Una funci贸n es un bloque de c贸digo con un nombre asociado, que recibe $0$ o m谩s argumentos como entrada, sigue una serie de instrucciones y devuelve un valor o realiza una tarea.

Python dispone de una serie de funciones intregradas al lenguaje( [built-in](https://docs.python.org/3/library/functions.html))

Un ejemplo de estas funciones son las vistas en los anteriores puntos como las de convertir tipos de datos y la de imprimir.

In [0]:
# Ingresar valor por teclado
entrada = int(input("Ingrese un n煤mero entero: "))
print(entrada**2)

Ingrese un n煤mero entero: 2
4

In [0]:
# Ingresar valor por teclado
entrada = input("Ingrese un n煤mero entero: ")
print(entrada*2)

Ingrese un n煤mero entero: 2
22

In [0]:
2# Valor absoluto de un numero
print(abs(-1))

### Ejercicio 1:


Ejecute las siguientes 3 celdas e infiera lo que hace la funci贸n round incorporada con uno o dos argumentos.

In [0]:
round( -4.78 )

-5

In [0]:
round( -3.141516297, 4 )

-3.1415

In [0]:
round( -3.141516297, 5 )

-3.14152

### Ejercicio 2:


Desde la pagina de las funciones integradas [built-in](https://docs.python.org/3/library/functions.html), consulte la forma de usar la funci贸n `min()` y `max()`.

- Cree una lista con los valores 42, 17 y 68.
- Usando la funci贸n `min()`, imprima el valor minimo.
- Usando la funci贸n `max()`, imprima el valor maximo.
- Validar si hay una funci贸n que me devuelva la suma?

In [0]:
# Su C贸digo

##Ayuda 

Python cuenta con `help()` y `?` que nos devuelve una descripci贸n de la funci贸n que queremos conocer.

In [0]:
#help(range)

In [0]:
?range

### Ejercicio 3:

Cree una variable llamada rango y asignele range(1, 100, 5), luego imprima la variable convirtiendola primero a lista, cual es el resultado?

In [0]:
# Su c贸digo

## Manejo de Strings

**IMPORTANTE:** Strings pueden ser definidos con doble comilla ("...") or comilla simple ('...'), las dos sintaxis hacen exactamente lo mismo!

In [0]:
'Juan' == "Juan"

In [0]:
'Juan said: "Yeah"' == "Juan said: \"Yeah\""

In [0]:
"Juan's sisters" == 'Juan\'s sisters'

In [0]:
'I feel \U0001F604'

'I feel '

### Interpolaci贸n de Cadenas

El camino m谩s facil para insertar dinamicamente variable en cadenas es a trav茅s de la interpolaci贸n de cadenas usando:

la sintaxis f"....{var1}... {var2}".

In [0]:
juans_height = 1.70
num_siblings = 2 

f"Juan is {juans_height} meters tall and has {num_siblings} brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

Tambi茅n se puede especificar la precisi贸n con la sintaxis "...{var:.#f}...", donde # es el n煤mero de digitos decimales.

In [0]:
f"Juan is {juans_height:.2f} meters tall"

'Juan is 1.70 meters tall'

Expresiones Full incluyendo llamado a funciones:

In [0]:
luisas_height = 1.60
f"Juan is { round( (juans_height - luisas_height)* 100 )  } cm taller than Luisa"

'Juan is 10 cm taller than Luisa'

Una sintaxis ligeramente m谩s nueva y que mejor utiliza el m茅todo de formato en cadenas:

In [0]:
"Juan is {jh} meters tall and has {ns} brothers and sisters".format( jh= juans_height, ns=num_siblings  )

La siguiente es tambi茅n una soluci贸n com煤n simple, aunque no la m谩s eficiente.

In [0]:
"Juan is " + str(juans_height) + " meters tall and has " + str(num_siblings) + " brothers and sisters"

Como en C/Java, etc., una cadena puede tambi茅n contener c贸digos especiales como salto de linea ('\n') y tabulaci贸n ('\t').

In [0]:
a_str = f"Juan is {juans_height} meters tall\n\tand has {num_siblings} brothers\nand sisters"
print( a_str )

Juan is 1.7 meters tall
	and has 2 brothers
and sisters

### Indexaci贸n de Cadenas

Las cadenas de Python son cadenas de caracteres, y cada car谩cter reside en un 铆ndice a partir de $0$ (para el primer car谩cter) y terminando en longitud de cadena $-1$ (para el 煤ltimo car谩cter).

|G|r|u|p|o|
|-|-|-|-|-|
|0|1|2|3|4|
|-|-|-|-|-|
|-5|-4|-3|-2|-1|

In [0]:
cadena = "Juan's height u"

In [0]:
print("Primer caracter: ",cadena[0])
print("Ultimo caracter: ",cadena[-1])

Primer caracter:  J
Ultimo caracter:  u

In [0]:
print(type(cadena[0]))

Las cadenas son inmutables

In [0]:
cadena[1] = 'o'

TypeError: ignored

Si se desea cambiar el valor de un caracter de una cadena se debe de usar las funciones propias del objeto string.

In [0]:
str.replace(cadena,'u','o')

"Joan's height o"

In [0]:
cadena

"Juan's height u"

In [0]:
cadena = str.replace(cadena,'u','o')
print(cadena)

Si se desea conocer el tama帽o de la cadena de caracteres se usa el metodo `len(cadena)`.

In [0]:
len(cadena)

15

Si se desea conocer si un caracter esta en una cadena de caracteres se usa el operador `in`.

In [0]:
'a' in cadena

True

### Cortar (Slicing) Cadenas

**Slicing** en Python es un camino poderoso para extraer sub-partes de una cadena, listas y tuplas.

```
str[start:end]
````
**start**: sub-cadena inicia desde este elemento

**end**: fin sub-cadena, excluye el elemento en este index.

|G|r|u|p|o|
|-|-|-|-|-|
|0|1|2|3|4|

```python
cadena = "Grupo"
print(cadena[0:2])
```
|G|r|
|-|-|
|0|1|

In [0]:
cadena = "Grupo"
print(cadena[0:2])

Gr

In [0]:
# Sub-cadena desde la posicion inicial, 4 caracteres.
print(cadena[0:4])

Grup

In [0]:
# Exactamente igual al anterior, solo que el 0 es el 铆ndice inicial impl铆cito)
print(cadena[:4])

Grup

In [0]:
# Sub-cadena desde el cuarto caracter hasta el final
print(cadena[4:])

o

In [0]:
# Sub-cadena desde el caracter en la posicion 1 hasta el caracter en la posicion 4
print(cadena[1:4])

In [0]:
# Sub-cadena con indices negativos, el -1 es el 铆ndice final impl铆cito.
print(cadena[-3:])

upo

In [0]:
# Sub-cadena con indices negativos
print(cadena[-4:-1])

rup

## Manejo de Listas

Una lista es un arreglo de elementos donde podemos ingresar cualquier tipo de dato, para acceder a estos datos lo podemos hacer mediante un 铆ndice.

In [0]:
lista = [1,2.5,'Grupo',[1,2],10,'Grupo']

In [0]:
print("Primer elemento de la lista: ",lista[0])
print("Ultimo elemento de la lista: ",lista[-1])

In [0]:
# Obtener el elemento de la posicion 3
print(lista[3])

Si la posici贸n 3 es una lista, para acceder a los elementos de esta lista se realiza de la siguiente manera.

In [0]:
# Obtener el elemento de la posicion 3, obtener el elemento 1 de esta lista
print(lista[3][1])

2

In [0]:
# Obtener los elementos de la posicion 1 hasta la 3
print(lista[1:3])

[2.5, 'Grupo']

In [0]:
# Adicionar un elemento a la lista
lista.append('Nuevo')
print(lista)

[1, 2.5, 'Grupo', [1, 2], 10, 'Grupo', 'Nuevo']

In [0]:
# Extend permite agregar elementos pero al agregar una lista cada elemento de esta se agrega como un elemento mas dentro de la otra lista
lista.extend(['Elemento',45])
print(lista)

[1, 2.5, 'Grupo', [1, 2], 10, 'Grupo', 'Nuevo', 'Elemento', 45]

In [0]:
# Inserta un elemento en la posicion dada
lista.insert(3,1)
print(lista)

[1, 2.5, 'Grupo', 1, [1, 2], 10, 'Grupo', 'Nuevo', 'Elemento', 45]

In [0]:
# Eliminar un elemento de la lista
lista.remove(10)
print(lista)

[1, 2.5, 'Grupo', 1, [1, 2], 'Grupo', 'Nuevo', 'Elemento', 45]

In [0]:
# Devuelve el n煤mero de indice del elemento que le pasamor por par谩metro
print(lista.index('Grupo'))

2

In [0]:
# Devuelve el elemento en la posicion dada de la lista y lo elimina
print(lista.pop(2))
print(lista)

Grupo
[1, 2.5, 1, [1, 2], 'Grupo', 'Nuevo', 'Elemento', 45]

In [0]:
# Devuelve cuantas veces un elemento de una lista se repite
print(lista.count('Grupo'))

1

In [0]:
# Invertir los elementos de una lista
lista.reverse()
print(lista)

[45, 'Elemento', 'Nuevo', 'Grupo', [1, 2], 1, 2.5, 1]

In [0]:
help(lista.reverse())

In [0]:
# Las listas son mutables
lista[0] = 3
print(lista)

In [0]:
3 in lista

False

## Manejo de Diccionarios

Al contrario de las listas los diccionarios no tienen orden, un diccionario es una palabra que tiene asociado algo.

Se crean poniendo sus elementos entre llaves (`{"a":"Alicante","b":"Barcelona"}`). Se denominan keys a las **palabras** y values a las **definiciones**. L贸gicamente no puede haber dos keys iguales, pero si dos values iguales.

In [0]:
diccionario = {'Piloto 1':'Fernando Alonso', 'Piloto 2':'Kimi Raikkonen', 'Piloto 3':'Felipe Massa'}
print(diccionario)

{'Piloto 1': 'Fernando Alonso', 'Piloto 2': 'Kimi Raikkonen', 'Piloto 3': 'Felipe Massa'}

In [0]:
# Devuelve el valor que corresponde con la key introducida.
print(diccionario.get('Piloto 1'))
print(diccionario['Piloto 1'])

Fernando Alonso
Fernando Alonso

In [0]:
# Devuelve el valor que corresponde con la key introducida, y luego borra la key y el valor.
print(diccionario.pop('Piloto 1'))
print(diccionario)

Fernando Alonso
{'Piloto 2': 'Kimi Raikkonen', 'Piloto 3': 'Felipe Massa'}

In [0]:
# Actualiza el valor de una determinada key o lo crea si no existe.
diccionario.update({'Piloto 4':'Lewis Hamilton'})
diccionario.update({'Piloto 2':'Sebastian Vettel'})
print(diccionario)

{'Piloto 2': 'Sebastian Vettel', 'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton'}

In [0]:
diccionario['Piloto 5'] = 'Juan Perez'
print(diccionario)

{'Piloto 2': 'Sebastian Vettel', 'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton', 'Piloto 5': 'Juan Perez'}

In [0]:
# "key" in diccionario: devuelve verdadero (True) o falso (False) si la key existe en el diccionario.
print ("Piloto 2" in diccionario)
print ("piloto 1" in diccionario)
print ("Sebastian Vettel" in diccionario)

True
False
False

In [0]:
# "definici贸n" in diccionario.values(): devuelve verdadero (True) o falso (False) si la definici贸n existe en el diccionario.
print ("Sebastian Vettel" in diccionario.values())

True

In [0]:
# del diccionario['key']: Elimina el valor (y el key) asociado a la key indicada.
del diccionario['Piloto 2']
print(diccionario)

{'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton', 'Piloto 5': 'Juan Perez'}

## Manejo de Tuplas

Las tuplas son inmutables, una vez creada, no se puede cambiar ni su contenido ni su tama帽o.

In [0]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

In [0]:
# Concatenar tuplas
tuple3 = tuple1 + tuple2
print(tuple3)

In [0]:
# Repetir tuplas
print(tuple1 * 3)

In [0]:
# Validar si un elemento esta en la tupla
print(7 in tuple1)
print(7 in tuple2)

In [0]:
# Devuelve el indice del elemento
print(tuple1.index(5))

In [0]:
# Devuelve cuantas veces esta un elemento repetido
tuple4 = (65,67,5,67,34,76,67,231,98,67)
print(tuple4.count(67))

In [0]:
# Indexaci贸n
print(tuple4[4])
print(tuple4[-4])
print(tuple4[:4])
print(tuple4[5:])
print(tuple4[-6:-2])
print(tuple4[3:6])

## Funciones de Usuario

En Python, la definici贸n de funciones se realiza mediante la instruccion `def`.  La definici贸n de la funci贸n finaliza con dos puntos (`:`) y el algoritmo que la compone, ir谩 con tabulaci贸n.

In [0]:
def miFuncion():
  print("Hola Mundo")

In [0]:
miFuncion()

Hola Mundo

In [0]:
valor = miFuncion()
print(valor)

Hola Mundo
None

Las funciones tambien pueden retornar un valor, este puede ser asignado a una variable.

```Python
def miFuncion():
  return "Hola Mundo"
````

In [0]:
def miFuncion():
  return "Hola Mundo"

In [0]:
mensaje = miFuncion()
print(mensaje)
print(miFuncion())

Hola Mundo
Hola Mundo

Las funciones tambien pueden recibir parametros de entrada.

```Python
def miFuncion(nombre, apellido):
  return nombre + ' ' + apellido
````

In [0]:
def miFuncion(nombre, apellido):
  return nombre + ' ' + apellido

In [0]:
mensaje = miFuncion("Juan","Perez")
print(mensaje)

Las funciones pueden tener parametros de entrada con valores por defecto.

```Python
def miFuncion(nombre, apellido, mensaje = 'Hola'):
  return mensaje + ' ' + nombre + ' ' + apellido
````

In [0]:
def miFuncion(nombre, apellido, mensaje = 'Hola'):
  return mensaje + ' ' + nombre + ' ' + apellido

In [0]:
mensaje = miFuncion("Juan","Perez")
print(mensaje)

Hola Juan Perez

In [0]:
mensaje = miFuncion("Juan","Perez","Chao")
print(mensaje)

Chao Juan Perez

### Ejercicio 4

Escriba una funci贸n que calcule un valor seg煤n una formula dada:

$Q = sqrt( (2 * C)/H )$

$C$ Es un numero entero

$H$ Es un numero entero

La funci贸n debe de retornar el valor de $Q$.

**Tip:** En Python se pueden importar librerias o paquetes usando `import`, para este ejercicio se importar帽a la libreria de matematicas `math`. Para usar el metodo `sqrt` se realiza el llamado de la siguiente manera `math.sqrt(numero)`

In [0]:
# Su Codigo

### Ejercicio 5

Escriba una funci贸n que calcule el area de un triangulo:

$Area = (Base*Altura)/2 $

$Base$ Es un numero entero o real.
$Altura$ Es un numero entero o real.

La funci贸n debe de retornar el valor del $Area$.

In [0]:
# Su Codigo

### Ejercicio 6

Escriba una funci贸n que reciba como parametro un n煤mero entero y una lista, debe de adicionar a la lista el numero elevado al cubo y devolver la lista con el nuevo elemento.

In [0]:
# Su Codigo

## Conjuntos en Python

Python tiene un tipo de dato `set` el cual nos permite trabajar con conjuntos y realizar operaciones de conjuntos con estas variables.  Se define entre llaves (`{}`) y se separan los elementos con comas. 

```python
conjunto = {1,2,3}
````

In [0]:
# Definiendo conjuntos
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}
c4 = {4, 5, 6}

In [0]:
# Union de conjuntos
print(c1|c2)
print(c1|c2|c3)

{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}

In [0]:
# Tambien puede hacerse la union con el metodo
print(c1.union(c2))

{1, 2, 3, 4, 5, 6, 8, 10}

In [0]:
# Intersecci贸n de conjuntos
print(c1&c2)
print(c1 & c2 & c3 & c4)

{2, 4, 6}
set()

In [0]:
# Tambien puede hacerse la intersecci贸n con el metodo
print(c1.intersection(c2,c3))

{2}

In [0]:
# Diferencia de conjuntos
print(c1-c2)

{1, 3, 5}

In [0]:
# Diferencia de conjuntos con el metodo
print(c1.difference(c2))

{1, 3, 5}

In [0]:
# Union exclusiva
print(c1^c2)

{1, 3, 5, 8, 10}

In [0]:
# Union exclusiva con el metodo
print(c1.symmetric_difference(c2))

{1, 3, 5, 8, 10}

## Estructuras de control

### Ciclos FOR

Los ciclos For en Python son simples. La estructura basica esta dada por **`for <var-name> in <iterable> :`**
**Importante** finalizando el for siempre debe de ir **:**, es obligatorio y para los constructores del flujo de control son obligaci贸n. 

El bloque que sera iterado esta determinado por la tabulaci贸n de las lineas siguientes del for.   
   
La linea en blanco despues de las dos sentencias no es obligatoria, pero es considerada buena practica. Las lineas luego del ciclo for no llevan tabulaci贸n, por lo tanto ya estan fuera del ciclo.

In [0]:
string_list = [ "Juan", "is", "1.70", "metres", "high"]

In [0]:
for elem in string_list : 
    print( elem )
    print( len(elem), 'characters\n' )
    
print( "The loop is done")

In [0]:
for idx in range(len(string_list)):
  print(idx)
  print(string_list[idx])
  print(len(string_list[idx]))

#### Otra forma de iterar un ciclo for : range ( a, b, s )

Una forma com煤n de iterar un ciclo for es desde 0 hasta n-1.  Esto se puede implementar con una funcion range.

In [0]:
n = 10 # desired number of iterations

for  i in range(0,10) : 
    print( f"i = {i}")

In [0]:
for  i in range(3,10) : 
    print( f"i = {i}")

In [0]:
for  i in range(20, 3, -5) : 
    print( f"i = {i}")

### Condicional IF - ELIF - ELSE

**Nota:**

* No hay par茅ntesis alrededor de las condiciones booleanas. 
* Puede haber tantas ramas elif como desee cada una con una condici贸n expl铆cita.
* 隆S贸lo puede haber una m谩s al final, sin condici贸n, por supuesto!

In [0]:
z = -6
if  z > 10 :   
    print( "A: This is big!!!")
    print( "B: That's what she said!")
elif z == 0 : 
    print( "z is Zero!!!")
elif z > -10 : 
    print( "z is between -10 and 10 but not zero")
else : 
    print( "z is probably negative. Who knows... computers are weird...")

In [0]:
z = 11
if  z > 10 and z == 0 :
  print("ok")
else:
  print("no")